/* 針對Google登入按鈕做CSS 位置改動 */
/*.social-login ul { */ 
#div_google ul {
	margin: 0;
    width: 100%;
	padding:0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content:center;
}

/*.col-lg-6  {
   width: 100%;
}*/